:root {
  --light-bg-color: #f8f8ff;
  --light-main-color: #36454f;
  --light-accent-color: #7393b3;
  --dark-bg-color: #333;
  --dark-main-color: #c41e3a;
  --dark-accent-color: #696969;
}

body {
  font-size: 16px;
  line-height: 1.7rem;
}
.light-body {
  background-color: var(--light-bg-color);
  color: var(--light-main-color);
}
.dark-body {
  background-color: var(--dark-bg-color);
  color: whitesmoke;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
#heading {
  text-align: center;
}
#heading p {
  font-size: 20px;
}
#heading h1 {
  font-size: 50px;
  margin-bottom: 50px;
}
#theme-button {
  float: right;
  border-radius: 50%;
  border: none;
  padding: 10px;
}
#theme-button:hover {
  cursor: pointer;
  transition: 0.3s;
}
#theme-button img {
  width: 43px;
}
.theme-btn-light {
  background-color: var(--light-bg-color);
}
.theme-btn-light:hover {
  background-color: var(--light-accent-color);
}
.theme-btn-dark {
  background-color: var(--dark-bg-color);
}
.theme-btn-dark:hover {
  background-color: var(--dark-accent-color);
}

select {
  font-size: 20px;
  text-align: center;
  padding: 5px;
}
#survey-questions {
  max-width: 800px;
  margin: auto;
  margin-top: 30px;
  font-size: 25px;
}
#survey-questions div a {
  text-decoration: underline;
  color: inherit;
}
#survey-questions div h3 {
  font-size: 45px;
}
.survey-section {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.survey-finish {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.survey-light {
  border: 5px solid var(--light-accent-color);
  border-radius: 5%;
}
.survey-dark {
  border: 5px solid var(--dark-accent-color);
  border-radius: 5%;
}
.btn {
  margin-top: 20px;
  padding: 7px 15px;
  font-size: 19px;
  border: 3px solid transparent;
  border-radius: 5%;
}
.btn-finish {
  margin-top: 20px;
  padding: 7px 15px;
  font-size: 19px;
  border: 3px solid transparent;
  border-radius: 5%;
}
.btn-light {
  background-color: var(--light-accent-color);
}
.btn-light:hover {
  cursor: pointer;
  border: 3px solid var(--light-main-color);
}
.btn-dark {
  background-color: var(--dark-accent-color);
}
.btn-dark:hover {
  cursor: pointer;
  border: 3px solid var(--dark-main-color);
}
.hidden {
  display: none;
}
